.primary{

    height: 40px;
    border-radius: var(--border-radius-base);
    color: var(--color-white);
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    background-color: var(--color-black);
    border: none;
    align-self: flex-start;
    padding: 0 20px;
}

.requestaccept{

    height: 50px;
    border-radius: var(--border-radius-base);
    color: var(--color-black);
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    background-color: transparent;
    border: 2px solid var(--color-black);
    min-width: 120px;
    align-self: flex-start;
}

.requestdecline{
    height: 50px;
    border-radius: var(--border-radius-base);
    color: var(--color-white);
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    background-color: var(--color-black);
    border: none;
    min-width: 120px;
    align-self: flex-start;
}

.button__start{

    height: 40px;
    border-radius: var(--border-radius-base);
    color: var(--color-black);
    line-height: 40px;
    text-align: center;

    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    background-color: var(--color-white);
    border: none;
    padding: 0 30px;
}

.violet {
    height: 40px;
    border-radius: var(--border-radius-base);
    color: var(--color-black);
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    background-color: var(--color-violet);
    border: none;
    align-self: flex-start;
    padding: 0 20px;
}