.img__profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
}

/* --- VARIANTES DE COLOR --- */
.variant_admin {
  background-color: var(--color-black);
}

.variant_user {
  background-color: var(--color-aqua); /* Elige el color fijo que prefieras */
}

.variant_tournament {
  background-color: var(--color-rosa); /* Elige el color fijo que prefieras */
}

/* --- ESTILOS DE IMAGEN --- */

.placeholder_icon {
  width: 60%;
  height: 60%;
  object-fit: contain;
  filter: brightness(0) invert(1);
}

.profile_wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-direction: column;
  justify-content: center;
}

.profile__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user__svg_icon {
  width: 50px;
  height: 50px;
  background-color: var(--color-black); /* Color del SVG */

  -webkit-mask-image: url("../../../../assets/image/Profile/user_nav.svg");
  mask-image: url("../../../../assets/image/Profile/user_nav.svg");

  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-position: center;
  -webkit-mask-position: center;
}

.day__strong {
  font-weight: 700;
  font-size: 12px;
}
