.next__match{
    margin-top: 40px;
}
.next__match_live{
    background-color: var(--color-black);
    padding: 20px;
    border-radius: var(--border-radius-base);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.next__match_live p {
    color: var(--color-white);
}



.button__start{
    margin-top: 30px;
}


.img__tournament_list {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    display: block;
}

.match__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.match__state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
    background-color: var(--color-gray2);
    max-width: 70px;
    border-radius: var(--border-radius-base);
    padding: 10px 10px;
}

.next__match_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;

}


.next__match_content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 43px;
    gap: 20px;
}


.team__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.team__img_name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.team__img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--color-gray2);
}


/*table position*/


.position_table {
    width: 100%;
    overflow-x: auto;
}

.position_table table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.position_table th:first-child {
    text-align: left;
}


.position_table th,
.position_table td {
    text-align: center;
}

.teamInfo_table {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* ← aquí lo alineamos a la izquierda */
    gap: 0.5rem;
    text-align: left;
}
.position{
    font-size: 10px;
    padding-right: 5px;
}

.image_team{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--color-gray2);
}

.position_table thead tr {
    border-bottom: 20px solid transparent; /* simula margen sin romper la tabla */
}

.position_table tbody tr:not(:last-child) {
    border-bottom: 1px solid var(--color-black);
}

.position_table td {
    padding: 1rem 0.75rem;
}

.teamInfo_table span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: inline-block;
}

/*tournament*/

.tournament__card {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.img__profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-gray2);
}


.profile_wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

@media only screen and (min-width: 769px) {



    .match__grid > div {
        width: calc(50% - 14px); /* espacio con margen */
    }



}