.info__tournament_section {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.info__tournament_section article{
    background-color: var(--color-gray2);
    aspect-ratio: 1 / 1;
    width: 70px;
    border-radius: var(--border-radius-base);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.team__image
{
    width: 35PX;
}

