footer{
    background-color: var(--color-gray);
    border-radius: var(--border-radius-base);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    margin-bottom:25px;
}